<nav>
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <div class="logo">
        <a href="https://vgtk.by">ВГТК</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <div class="nav-wrapper">
            <ul>
                <li><a href="/main">Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Преподавателям</a>
                    <div class="dropdown-content">
                        <a href="/teacher/umk">УМК</a>
                        <a href="/literature/add">Добавить литературу</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Администраторам</a>
                    <div class="dropdown-content">
                        <a href="/admin/search/literature?q=null&size=50&page=1">Поиск литературы</a>
                        <a href="/admin/search/removed?q=null&size=50&page=1">Поиск удаленной литературы</a>
                    </div>
                </li>
                <li><a th:href="@{/logout}">Выйти</a></li>
            </ul>
        </div>
    </form>
</nav>