<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
</head>
<body>
<glitch>
    <div class="hero500">
    </div>
    <h1>404?!</h1>
    <h2>Sometimes you take the road less travelled &hellip;</h2>
    <p>
        We're not sure how you got here, but you should head <a href="/main">home</a>. </p>
    <p>
        It's probably our fault that you're here; but if you're having trouble with the site just shoot us an <a href="mailto:user@admin.com">email</a>.
    </p>
    <!-- Extra spacing! -->
    <br />
    <br />
    <br />
    <br />
</glitch>
<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{js/error.js}" src="js/error.js"></script>
</body>
</html>