<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Курс</th>
            <th>Год</th>
            <th>Ссылка</th>
            <th>Обновлено</th>
            <th>Отделение</th>
            <th>Специальность</th>
            <th>Дисциплина</th>
            <th>Тип</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lit : ${literature}">
            <td th:text="${lit.id}"></td>
            <td th:text="${lit.title}"></td>
            <td th:text="${lit.author}"></td>
            <td th:text="${lit.course}"></td>
            <td th:text="${lit.year}"></td>
            <td><a th:href="@{'/literature/download/'+${lit.id}}" th:if="${not #lists.isEmpty(lit.data)}" th:text="${lit.docName}"></a></td>
            <td th:text="${lit.updated}"></td>
            <td th:text="${lit.department.title}"></td>
            <td th:text="${lit.speciality.title}"></td>
            <td th:text="${lit.discipline.title}"></td>
            <td th:text="${lit.literatureType.title}"></td>
            <td th:text="${lit.userName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--<ul th:if="${literaturePage.totalPages > 0}" class="pagination modal"-->
<!--    th:each="pageNumber : ${pageNumbers}">-->
<!--    <a th:href="@{/literature(size=${literaturePage.size}, page=${pageNumber})}"-->
<!--       th:text=${pageNumber}-->
<!--       th:class="${pageNumber==literaturePage.number + 1} ? active"></a>-->
<!--</ul>-->
</body>
</html>