<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header"></header>
    <div class="card" style="margin-top: 70px;">
        <img src="https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_960_720.jpg">

        <div class="content">
            <h1>Теоретический раздел</h1>
            <p>
            <ul>
                <li><a>Учебники и учебные пособия</a></li>
                <li><a>Мультимедийное сопровождение (видеоматериалы, презентации)</a></li>
                <li><a>Справочные материалы</a></li>
                <li><a>Наглядность (натур. объекты, изображения)</a></li>
            </ul>
            </p>
        </div>
    </div>

    <div class="card" style="margin-top: 70px;">
        <img src="https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_960_720.jpg">

        <div class="content">
            <h1>Практический раздел</h1>
            <p>
            <ul>
                <li><a>Учебно-методические пособия для учащихся</a></li>
                <li><a>Рабочие тетради</a></li>
                <li><a>Лабораторно-практические работы</a></li>
                <li><a>Методические рекомендации для учащихся</a></li>
            </ul>
            </p>
        </div>
    </div>



    <div class="card" style="margin-top: 70px;">
        <img src="https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_960_720.jpg">

        <div class="content">
            <h1>Раздел контроля знаний</h1>
            <p>
            <ul>
                <li><a>Текущий контроль (тесты, задания)</a></li>
                <li><a>Обязательные контрольные работы</a></li>
                <li><a>Вопросы к экзамену (зачету)</a></li>
                <li><a>Курсовое и дипломное проектирование</a></li>
            </ul>
            </p>
        </div>
    </div>


    <div class="card" style="margin-top: 70px;">
        <img src="https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_960_720.jpg">

        <div class="content">
            <h1>Вспомогательный раздел</h1>
            <p>
            <ul>
                <li><a>Образовательные стандарты</a></li>
                <li><a>Учебные программы и планы</a></li>
                <li><a>КТП</a></li>
                <li><a>Планы учебных занятий</a></li>
                <li><a>Учебно-методическое обеспечение</a></li>
            </ul>
            </p>
        </div>
    </div>
</div>
</body>
</html>